@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-accent-500:#409BD3
}

@layer base {
  h1 {
    @apply text-2xl font-bold
  }

  h2{
    @apply text-xl font-semibold
  }

  p, li {
    @apply font-light
  }

  b{
    @apply font-semibold
  }
}



body {
  background: var(--background);
  color: var(--foreground);
 font-family: "Inter", sans-serif;
}

#logo{
   font-family: "Passions Conflict", cursive;
}


